{% extends "layout.html" %}
{% load static %}
{% block body %}

<section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">

    <div>
      <div class="section-header">
        <h2>On Going Research</h2>
        <p>All Current Research</p>
      </div>
      <div>
       
      <div>
        <div class="row gy-4 mt-2" data-aos="fade-up" data-aos-delay="100">
          <div class="">
            <div class="">

              <ul class="nav nav justify-content-center">

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">All</a>
                </li>
                {% for l in research_category %}
                <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}?category={{l.name}}">{{l.name}}</a></li>
                {% endfor %} 
                
                
                
              </ul>
             
              
                
                <div class="row gy-4 mt-2 d-flex justify-content-start">
                  
                  {% for i in research_blog %}
                  <div class="col-xl-12 col-md-6 d-flex">
                    <div class="service-item  position-relative">
                      <h5 class="card-title mt-3">{{i.title}}</h5>
                      <br>
                      <p class="card-text">{{i.description}}</p>
                    </div>
                  </div><!-- End Service Item -->
                  {% endfor %} 
                    
                </div>
                </div>
              
                
             
            </div>
          </div>
  
        </div>

        
      </div>

      
    </div>
  </div>
</section>





{% endblock %}
