
{% extends "layout.html" %}
{% load static %}
{% block body %}

<section id="portfolio" class="portfolio sections-bg ">
  <div class="container " data-aos="fade-up">

    <div class="section-header">
      <h2>Special Moments</h2>
    </div>

    
    <div class="portfolio-isotope " data-portfolio-filter="*" data-portfolio-layout="" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
      
      
      <div class="mt-5">
        
          
        <div class="row gy-4 portfolio-container mt-2">
          {% for i in event_data %}
          
          <div class=" portfolio-item ">
            <h3 class="d-flex justify-content-center"><a href="{{i.drive_link }}" title="More Details">{{i.title}}</a></h3>
            <div class="portfolio-wrap">
              <a href="{{i.image.url}}" data-gallery="portfolio-gallery-app"  class="d-flex justify-content-center glightbox"><img src="{{i.image.url}}" width="500" height="300"  class="" alt=""></a>
              
            </div>
          </div>
        {% endfor %} 
      </div>


      

      

    </div>
   
  </div>
</section> 

{% endblock %}