{% load static %}
{% load contact_tags %}

 
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>HIRL</span>
          </a>
          <p>Enrich Research Community, Create Job Opportunities, International Colleboration, Work with Local Data</p>
          <div class="social-links d-flex mt-4">
            {% if get_youtube %}
            ok
            {% endif %}
            <a href="{% get_twitter %}" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="{% get_facebook %}" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="{% get_instagram %}" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="{% get_linkedin %}" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'researchers' %}">Team</a></li>
            <li><a href="{% url 'research' %}">Research</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Daffodil International University <br>
            Daffodil Smart City, Ashulia, Dhaka<br>
            Bangladesh <br><br>
            <strong>Phone:</strong> {% get_phone %}<br>
            <strong>Email:</strong> {% get_email %}<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright@2021 <strong><span>Health Informatics Research Lab</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="https://github.com/shahriarshakil0">Md. Shahriar Shakil</a> & <a href="http://github.com/kazimdkhalednur">Kazi Khaled Nur</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->