{% extends "layout.html" %}
{% load static %}
{% block body %}

<section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">

    <div>
      <!-- <div class="section-header">
        <h2>Publications</h2>
      </div> -->
      <div>
       
      <div>
        <div class="row gy-4 mt-2" data-aos="fade-up" data-aos-delay="100">
          <div class="">
            <div class="service-item  position-relative">
              <div class="card" style="width: auto;">
                <div class="card-body">
                  <h2 class="text-center card-title">Journal</h2>
                </div>
                
                <div class="row gy-4 mt-2 d-flex justify-content-start">
                  <div class="col-xl-3 col-md-2">
                  
                    <div class="">
                      <ul>
                        <li><a href="{% url 'publication' %}">All</a> </li>
                        {% for l in categories %}
                        
                        <li><a href="{% url 'publication' %}?category={{l.published_year}}">{{l.published_year}}</a> </li>
                        
                        {% endfor %} 
                      </ul>
                      
                      
                      
                      
                      
                    </div>
                  </div>
                  <div class="col-xl-8 col-md-6 d-flex">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          {% for l in journal %}
                          <tr>
                           
                            <td><a href="{{l.paper_link}}">{{l.reference}}</a></td>
                            
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    
                </div>
                </div>
              
                
              </div>
            </div>
          </div>
  
        </div>

        <div class="row gy-4 mt-2" data-aos="fade-up" data-aos-delay="100">
          <div class="">
            <div class="service-item  position-relative">
              <div class="card" style="width: auto;">
                <div class="card-body">
                  <h2 class="text-center card-title">Conference</h2>
                </div>
                
                <div class="row gy-4 mt-2 d-flex justify-content-start">
                  <div class="col-xl-3 col-md-2">
                  
                    <div class="">
                      <ul>
                        <li><a href="{% url 'publication' %}">All</a> </li>
                        {% for l in categories %}
                        
                        <li><a href="{% url 'publication' %}?category={{l.published_year}}">{{l.published_year}}</a> </li>
                        
                        {% endfor %} 
                      </ul>
                      
                      
                      
                      
                      
                    </div>
                  </div>
                  <div class="col-xl-8 col-md-6 d-flex">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          {% for l in conference %}
                          <tr>
                           
                            <td><a href="{{l.paper_link}}">{{l.reference}}</a></td>
                            
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    
                </div>
                </div>
              
                
              </div>
            </div>
          </div>
  
        </div>
      </div>

      
    </div>
  </div>
</section>





{% endblock %}
